# convert raw data to clean data without using type conversion

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r'C:\Users\LENOVO\OneDrive\Desktop\raw data.xlsx')

In [3]:
df

,ADDRESS,date,time
0,"56th ben colony, btm layout, bangalore ,78909",3rd apr 2022,5hr 55min 8sec
1,"20th street, johns road, banglore,567",6th dec 2021,10hr 20min 5sec

In [4]:
df[['House no','Street','City','Zipcode']] = df['ADDRESS'].str.split(',',expand = True)

In [5]:
df[['day','month','year']]=df['date'].str.split(' ',expand = True)

In [6]:
df[['hour','min','sec']]=df['time'].str.split(' ',expand = True)

In [7]:
df

,ADDRESS,date,time,House no,Street,City,Zipcode,day,month,year,hour,min,sec
0,"56th ben colony, btm layout, bangalore ,78909",3rd apr 2022,5hr 55min 8sec,56th ben colony,btm layout,bangalore,78909,3rd,apr,2022,5hr,55min,8sec
1,"20th street, johns road, banglore,567",6th dec 2021,10hr 20min 5sec,20th street,johns road,banglore,567,6th,dec,2021,10hr,20min,5sec

# converting raw data to clean data by using type conversion

In [8]:
df = pd.read_excel(r'C:\Users\LENOVO\OneDrive\Desktop\raw1.xlsx')

In [9]:
df

                                         ADDRESS       date      time
0  56th ben colony, btm layout, bangalore ,78909 2022-04-03  05:55:08
1         20th street, johns road,  banglore,567 2021-12-06  10:20:05

In [10]:
df[['Houseno','Street','City','Zipcode']] = df['ADDRESS'].str.split(',',expand = True)

In [11]:
df['date'] = df['date'].astype('str')  # we are using type conversion as 'astype()' for date and time
df['time'] = df['time'].astype('str')

In [12]:
df[['Year','Month','Day']] = df['date'].str.split('-',expand = True)

In [13]:
df[['hr','min','sec']] = df['time'].str.split(':',expand = True)

In [14]:
df

,ADDRESS,date,time,Houseno,Street,City,Zipcode,Year,Month,Day,hr,min,sec
0,"56th ben colony, btm layout, bangalore ,78909",2022-04-03,05:55:08,56th ben colony,btm layout,bangalore,78909,2022,04,03,05,55,08
1,"20th street, johns road, banglore,567",2021-12-06,10:20:05,20th street,johns road,banglore,567,2021,12,06,10,20,05