# Reading a dataset in csv format

In [1]:
import pandas as pd

In [2]:
Superstore = pd.read_csv(r'C:\Users\LENOVO\OneDrive\Desktop\Sample - Superstore_Orders.csv')

In [3]:
Superstore

,Category,City,Country/Region,Customer Name,Manufacturer,Order Date,Order ID,Postal Code,Product Name,Region,Segment,Ship Date,Ship Mode,State/Province,Sub-Category,Discount,Profit,Quantity,Sales
0,Office Supplies,Houston,United States,Darren Powers,Message Book,03-01-2019,US-2019-103800,77095,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",Central,Consumer,07-01-2019,Standard Class,Texas,Paper,0.2,5.5512,2,16.448
1,Office Supplies,Naperville,United States,Phillina Ober,GBC,04-01-2019,US-2019-112326,60540,GBC Standard Plastic Binding Systems Combs,Central,Home Office,08-01-2019,Standard Class,Illinois,Binders,0.8,-5.4870,2,3.540
2,Office Supplies,Naperville,United States,Phillina Ober,Avery,04-01-2019,US-2019-112326,60540,Avery 508,Central,Home Office,08-01-2019,Standard Class,Illinois,Labels,0.2,4.2717,3,11.784
3,Office Supplies,Naperville,United States,Phillina Ober,SAFCO,04-01-2019,US-2019-112326,60540,SAFCO Boltless Steel Shelving,Central,Home Office,08-01-2019,Standard Class,Illinois,Storage,0.2,-64.7748,3,272.736
4,Office Supplies,Philadelphia,United States,Mick Brown,Avery,05-01-2019,US-2019-141817,19143,Avery Hi-Liter EverBold Pen Style Fluorescent ...,East,Consumer,12-01-2019,Standard Class,Pennsylvania,Art,0.2,4.8840,3,19.536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10189,Office Supplies,New York City,United States,Patrick O'Donnell,Wilson Jones,30-12-2022,US-2022-143259,10009,Wilson Jones Legal Size Ring Binders,East,Consumer,03-01-2023,Standard Class,New York,Binders,0.2,19.7910,3,52.776
10190,Office Supplies,Fairfield,United States,Erica Bern,GBC,30-12-2022,US-2022-115427,94533,GBC Binding covers,West,Corporate,03-01-2023,Standard Class,California,Binders,0.2,6.4750,2,20.720
10191,Office Supplies,Loveland,United States,Jill Matthias,Other,30-12-2022,US-2022-156720,80538,Bagged Rubber Bands,West,Consumer,03-01-2023,Standard Class,Colorado,Fasteners,0.2,-0.6048,3,3.024
10192,Technology,New York City,United States,Patrick O'Donnell,Other,30-12-2022,US-2022-143259,10009,Gear Head AU3700S Headset,East,Consumer,03-01-2023,Standard Class,New York,Phones,0.0,2.7279,7,90.930
10193,Office Supplies,Charlottetown,Canada,Harry Olson,Wilson Jones,30-12-2022,CA-2022-143500,C0A,Wilson Jones Impact Binders,East,Consumer,03-01-2023,Standard Class,Prince Edward Island,Binders,0.2,-0.6048,3,3.024

In [4]:
Superstore.columns

Index(['Category', 'City', 'Country/Region', 'Customer Name', 'Manufacturer',
       'Order Date', 'Order ID', 'Postal Code', 'Product Name', 'Region',
       'Segment', 'Ship Date', 'Ship Mode', 'State/Province', 'Sub-Category',
       'Discount', 'Profit', 'Quantity', 'Sales'],
      dtype='object')

In [5]:
len(Superstore.columns)

19

In [6]:
len(Superstore)

10194

In [7]:
Superstore.shape

(10194, 19)

# Reading a dataset  in Excel format

In [8]:
Superstore1 = pd.read_excel(r'C:\Users\LENOVO\OneDrive\Desktop\file_example_XLSX_1000.xlsx')

In [9]:
Superstore1

,Unnamed: 0,First Name,Last Name,Gender,Country,Age,Date,Id
0,1,Dulce,Abril,Female,United States,32,15/10/2017,1562
1,2,Mara,Hashimoto,Female,Great Britain,25,16/08/2016,1582
2,3,Philip,Gent,Male,France,36,21/05/2015,2587
3,4,Kathleen,Hanner,Female,United States,25,15/10/2017,3549
4,5,Nereida,Magwood,Female,United States,58,16/08/2016,2468
...,...,...,...,...,...,...,...,...
995,996,Roma,Lafollette,Female,United States,34,15/10/2017,2654
996,997,Felisa,Cail,Female,United States,28,16/08/2016,6525
997,998,Demetria,Abbey,Female,United States,32,21/05/2015,3265
998,999,Jeromy,Danz,Male,United States,39,15/10/2017,3265
999,1000,Rasheeda,Alkire,Female,United States,29,16/08/2016,6125

In [10]:
Superstore1.shape

(1000, 8)

In [11]:
Superstore1.columns

Index(['Unnamed: 0', 'First Name', 'Last Name', 'Gender', 'Country', 'Age',
       'Date', 'Id'],
      dtype='object')

In [12]:
len(Superstore1)

1000

In [13]:
len(Superstore.columns)

19

# Reading a dataset in HTML format

In [14]:
df = pd.read_html(r'C:\Users\LENOVO\OneDrive\Desktop\data.html')

In [15]:
df

[                        Company           Contact  Country
 0           Alfreds Futterkiste      Maria Anders  Germany
 1    Centro comercial Moctezuma   Francisco Chang   Mexico
 2                  Ernst Handel     Roland Mendel  Austria
 3                Island Trading     Helen Bennett       UK
 4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
 5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy]

In [16]:
a = df[0]

In [17]:
a

                        Company           Contact  Country
0           Alfreds Futterkiste      Maria Anders  Germany
1    Centro comercial Moctezuma   Francisco Chang   Mexico
2                  Ernst Handel     Roland Mendel  Austria
3                Island Trading     Helen Bennett       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy

In [18]:
a.columns

Index(['Company', 'Contact', 'Country'], dtype='object')

In [19]:
len(a.columns)

3

In [20]:
len(a)

6

In [21]:
a.shape

(6, 3)

# Reading a dataset into json

In [22]:
import pandas as pd
ds = pd.read_json(r'C:\Users\LENOVO\OneDrive\Desktop\jsondata.json')

In [23]:
ds

,Seasons,Players,Sachin_Salary,Rahul_Salary,Smith_Salary,Sami_Salary,Pollard_Salary,Morris_Salary,Samson_Salary,Dhoni_Salary,Kohli_Salary,Sky_Salary
0,2010,Sachin,15946875,12000000,4621800,3713640,4493160,3348000,3144240,0,0,3031920
1,2011,Rahul,17718750,12744189,5828090,4694041,4806720,4235220,3380160,0,0,3841443
2,2012,Smith,19490625,13488377,13041250,13041250,6061274,12455000,3615960,4171200,0,13041250
3,2013,Sami,21262500,14232567,14410581,14410581,13758000,14410581,4574189,4484040,4822800,14410581
4,2014,Pollard,23034375,14976754,15779912,15779912,15202590,15779912,13520500,4796880,5184480,15779912
5,2015,Morris,24806250,16324500,14500000,17149243,16647180,14500000,14940153,6053663,5546160,14200000
6,2016,Samson,25244493,18038573,16022500,18518574,18091770,16022500,16359805,15506632,6993708,15691000
7,2017,Dhoni,27849149,19752645,17545000,19450000,19536360,17545000,17779458,16669630,16402500,17182000
8,2018,Kohli,30453805,21466718,19067500,22407474,20513178,19067500,18668431,17832627,17632688,18673000
9,2019,Sky,23500000,23180790,20644400,22458000,21436271,20644400,20068563,18995624,18862875,15000000

In [24]:
ds.columns

Index(['Seasons', 'Players', 'Sachin_Salary', 'Rahul_Salary', 'Smith_Salary',
       'Sami_Salary', 'Pollard_Salary', 'Morris_Salary', 'Samson_Salary',
       'Dhoni_Salary', 'Kohli_Salary', 'Sky_Salary'],
      dtype='object')

In [25]:
len(ds.columns)

12

In [26]:
len(ds)

10