# LIST

In [1]:
list1 = [] # empty list

In [2]:
print(type('list1'))

<class 'str'>

In [3]:
list2 = [10,30,60] # list of integer numbers
print(list2)
type(list2)

[10, 30, 60]

list

In [4]:
list3 = [10.7,5.36,45.8,25.9] # list of float numbers
print(list3)
type(list3)

[10.7, 5.36, 45.8, 25.9]

list

In [5]:
list4 = ['one', 'two','hello', 'hai'] # lilst of strings
print(list4)
type(list4)

['one', 'two', 'hello', 'hai']

list

In [6]:
list5 = ['Praveen', 59,[45,'hai'],[137,78,'apple']] # nested lists
print(list5)
type(list5)

['Praveen', 59, [45, 'hai'], [137, 78, 'apple']]

list

In [7]:
list5[0][1]

'r'

In [8]:
list5[2][1]

'hai'

In [9]:
list5[3][2][3]

'l'

In [10]:
list6 = [100, 'Asif',17.765] #list of mixed data types
list6

[100, 'Asif', 17.765]

In [11]:
list7 = ['sai', 56, [456,'welcome'],[78,67,56.8],{'hello',568}] 
list7

['sai', 56, [456, 'welcome'], [78, 67, 56.8], {568, 'hello'}]

In [12]:
len(list7) # length of the list

5

LIST INDEXING

In [13]:
list2

[10, 30, 60]

In [14]:
list2[1] # Retrive the second element of the list

30

In [15]:
list4[0] = 'yellow'
list4

['yellow', 'two', 'hello', 'hai']

In [16]:
list4[3] # retrive the fourth element of the list

'hai'

In [17]:
list4[0][0] # Nested listing - Access the first character of the first list

'y'

In [18]:
list4[-1] # last item of the list

'hai'

In [19]:
print(list5)
list5[-2]

['Praveen', 59, [45, 'hai'], [137, 78, 'apple']]

[45, 'hai']

# LIST SLICING

In [20]:
mylst = ['green','blue','orange','red','yellow','grey','gold','silver']
mylst

['green', 'blue', 'orange', 'red', 'yellow', 'grey', 'gold', 'silver']

In [21]:
mylst[0:3] # it returns all the elements from  0th index to 2nd index location

['green', 'blue', 'orange']

In [22]:
mylst[2:5]

['orange', 'red', 'yellow']

In [23]:
mylst[:3] # retuen first three 3 elements

['green', 'blue', 'orange']

In [24]:
mylst[-3]

'grey'

In [25]:
mylst[-1]

'silver'

In [26]:
mylst[:2]

['green', 'blue']

In [27]:
mylst[:3]

['green', 'blue', 'orange']

In [28]:
mylst[-3:]

['grey', 'gold', 'silver']

In [29]:
mylst[-2:]

['gold', 'silver']

In [30]:
mylst[-5]

'red'

In [31]:
mylst[:]

['green', 'blue', 'orange', 'red', 'yellow', 'grey', 'gold', 'silver']

## ADD, REMOVE & CHANGE ITEMS

In [32]:
mylst

['green', 'blue', 'orange', 'red', 'yellow', 'grey', 'gold', 'silver']

In [33]:
mylst.append('white') # adding an item at the end of the list
mylst

['green', 'blue', 'orange', 'red', 'yellow', 'grey', 'gold', 'silver', 'white']

In [34]:
mylst.insert(10,'pink') # inserting an item at index position 10
mylst

['green',
 'blue',
 'orange',
 'red',
 'yellow',
 'grey',
 'gold',
 'silver',
 'white',
 'pink']

In [35]:
mylst.insert(1,'one')
mylst

['green',
 'one',
 'blue',
 'orange',
 'red',
 'yellow',
 'grey',
 'gold',
 'silver',
 'white',
 'pink']

In [36]:
mylst.remove('one') # remove an item
mylst

['green',
 'blue',
 'orange',
 'red',
 'yellow',
 'grey',
 'gold',
 'silver',
 'white',
 'pink']

In [37]:
mylst.pop() # remove the last element of the list
mylst

['green', 'blue', 'orange', 'red', 'yellow', 'grey', 'gold', 'silver', 'white']

In [38]:
mylst.remove('white')

In [39]:
mylst.remove('grey')
mylst

['green', 'blue', 'orange', 'red', 'yellow', 'gold', 'silver']

In [40]:
del mylst[7] # remove the item at index location 9
mylst

IndexError: list assignment index out of range

In [ ]:
mylst
len(mylst)

In [ ]:
mylst.pop(6)
mylst

In [ ]:
# change value of the string
mylst[0] = 1
mylst[1] = 2
mylst[2] = 3
mylst

In [ ]:
mylst.clear()
mylst

In [ ]:
del mylst
mylst

## COPY LIST

In [ ]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
mylist

In [ ]:
mylist1 = mylist

In [ ]:
id(mylist), id(mylist1)

In [ ]:
mylist2 = mylist.copy()

In [ ]:
id(mylist2)

In [ ]:
mylist[0] = 1

In [ ]:
mylist

In [ ]:
mylist2

In [ ]:
list1

In [ ]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

list3 = list1+list2
list3

In [ ]:
list1.extend(list2)
list1

## LIST MEMBERSHIP

In [ ]:
list1

In [ ]:
'one' in list1

In [ ]:
'ten' in list1

## REVERSE AND SORT LIST

In [ ]:
list1

In [ ]:
list1.reverse()
list1

In [ ]:
list1 = list1[::-1]
list1

In [ ]:
mylist3 = [9,5,2,99,12,88.14]
mylist3.sort()
mylist3

In [ ]:
mylist3
mylist3.sort(reverse = True)
mylist3

In [ ]:
mylist4 =[88,65,33,21,11,98]
sorted(mylist4)

In [ ]:
mylist4

## LOOP THROUGH A LIST

In [ ]:
list1

In [ ]:
for i in list1:
    print(i)

In [ ]:
for i in enumerate(list1):
    print(i)

In [ ]:
list10 = ['one', 'two', 'three', 'four', 'one', 'one', 'three']

In [ ]:
 list10.count('one')

In [ ]:
list10.count('two')

##  ALL / ANY 
 The all() method returns 
 * True -> if all elements in a list are true
 * False -> if any element in a list is false
The any() function returns True  if any element in the list is True. if not, any() returns False

In [ ]:
L1 = [1,2,3,4,0]
L1

*The function all() in Python is used to determine if all elements in an iterable are true. It returns True if all elements are true or if the iterable is empty. If any element is false, it returns False.
                                          (or)
*it checks whether all elements in the iterable are true or not. In Python, non-zero numbers are considered truthy, while the number 0 is considered falsy.

In [ ]:
all(L1)

The any() function in Python is used to determine if at least one element in an iterable is true. It returns True if any element is true, and False if all elements are false or if the iterable is empty.

In [ ]:
any(L1)

In [ ]:
L2 = [1,2,3,4,True,False]

In [ ]:
all(L2)

In [ ]:
any(L2)

In [ ]:
L3 = [1,2,3,True]

In [ ]:
all(L3)

In [ ]:
any(L3)

# List Comparisions

LIST COMPREHENSIONS 
  *  LIST COMPREHENSIONS PROVIDE AN ELEGANT WAY TO CREATE NEW LISTS.
  *  IF CONSISTS OF BRACKETS CONTAINING AN EXPRESSION FOLLOWED BY A FOR CLAUSE, THEN ZERO

In [ ]:
mystr = 'welcome'
myst = [i for i in mystr]  
myst

In [ ]:
mylst = [i for i in range(40) if i % 2 == 0]
mylst

In [ ]:
mylst = [i for i in range(40) if i% 2 == 1]
mylst

[expression for item in list] == [num**2 for num in range(10)]

In [ ]:
mylst2 = [num**2 for num in range(10)]
mylst2

In [ ]:
#multiple whole list by 10
lst = [2,3,4,5,8]
lst2 = [i*10 for i in lst]
lst2

In [ ]:
# list all numbers divisible by 3,9,12 using nested if with list
myla = [i for i in range(200) if i % 3 == 0 if i % 9 == 0 if i% 12 ==0 ]

In [ ]:
myla

In [ ]:
L1

In [ ]:
myst

In [ ]:
mystr

In [ ]:
myst

In [ ]:
a = [5,6,7,81,'hai',(1+2j)]
a

In [ ]:
a1 = a.copy()

In [ ]:
a1

In [ ]:
id(a)

In [ ]:
id(a1)

In [ ]:
z = {5, 6, 7, 81, 'hai', (1+2j)}
z

In [ ]:
z1 = z.copy()

In [ ]:
z1

In [ ]:
id(z)

In [ ]:
id(z1)

In [ ]:
z2 = z

In [ ]:
z2

In [ ]:
id(z2)

In [ ]:
id(z) is id(z2)

In [ ]:
id(z) is not id(z2)

# Extract numbers from a string

In [ ]:
mys = 'one 1 two 2 three 3 four 4 five 5 six 678 '

In [ ]:
n = [i for i in mys if i.isdigit()]

In [ ]:
n

In [ ]:
ml = 'hai goodni8 4 five 5 nine 9 '

In [ ]:
ml1 = [i for i in ml if i.isdigit()]
ml1

# Extract letters from a string

In [ ]:
ml2 = [i for i in ml if i.isalpha()]
print(ml2,end = ' ')

# TUPLES

In [ ]:
t1 = () # empty tuple

In [ ]:
t2 = (10,20,98) # tuple of integers
t2

In [ ]:
t3 = (3.6,5.2,8.9) # tuple of float numbers
t3

In [ ]:
t4 = ('hai','hello','three') # tuple of stringd
t4

In [ ]:
t5 = ('Asif',5,6,7,(10+7j)) # tuple of mixed datatypes
t5

In [ ]:
t6 = ('Asif',5,6,(6,9),[89,9,10,'hai']) # nested tuples
t6

In [ ]:
len(t6)

In [ ]:
t2

In [ ]:
#TUPLE INDEXING
t2[0]

In [ ]:
t2[2]

In [ ]:
t6[0][0]

In [ ]:
t6[4][3]

In [ ]:
t6[4][3][2]

# TUPLE SLICING

In [ ]:
t6

In [ ]:
t6[1:4]

In [ ]:
t6[::-1]

In [ ]:
t6[::-1]

In [ ]:
z = t6
z[::-1]
z

In [ ]:
z[::-2]

In [ ]:
z[:-3]

In [ ]:
z[-3:]  # when we use -3 it prints the -3,-2,-1 values

In [ ]:
t6[:]

REMOVE AND CHANGE ITEMS

In [41]:
t2

NameError: name 't2' is not defined

In [ ]:
t6

In [ ]:
del t2[0]  # tuple item does not support the item deletion

In [ ]:
t2

In [ ]:
del t2

In [ ]:
t2

# LOOP THROUGH A TUPLE

In [ ]:
t6

In [ ]:
for i in t6:
    print(i)

COUNT

In [42]:
t7 = ('one','two','one','three','four','five','six','two')
t7

('one', 'two', 'one', 'three', 'four', 'five', 'six', 'two')

In [43]:
t7.count('one')

2

TUPLE MEMBERSHIP

In [44]:
'two' in t7

True

In [45]:
if 'three' in t7:
    print("three is in the tuple")
else:
    print("three is not in the tuple")

three is in the tuple

In [46]:
t7

('one', 'two', 'one', 'three', 'four', 'five', 'six', 'two')

In [47]:
t7.index('one')

0

In [48]:
t8 = (89,5,78,4,8,2,1,6,8,5)

In [49]:
sorted(t8)

[1, 2, 4, 5, 5, 6, 8, 8, 78, 89]

In [50]:
sorted(t8,reverse=True)

[89, 78, 8, 8, 6, 5, 5, 4, 2, 1]

# set

In [51]:
st = {} # empty set

In [52]:
st1 = {1,2,4,5,7,9} # set of integers
st1

{1, 2, 4, 5, 7, 9}

In [53]:
len(st1)

6

In [54]:
st2 = {52.6,82.5,42.3,78.3}
st2

{42.3, 52.6, 78.3, 82.5}

In [55]:
for i in st2:
    print(i)

82.5
52.6
42.3
78.3

In [56]:
for i in enumerate(st2):
    print(i)

(0, 82.5)
(1, 52.6)
(2, 42.3)
(3, 78.3)

In [57]:
82.5 in st2

True

In [58]:
sum(st1)

28

In [59]:
st1

{1, 2, 4, 5, 7, 9}

In [60]:
max(st1)

9

In [61]:
min(st1)

1

In [64]:
st1.add(55)
str

str

In [65]:
s = st1.copy()
s

{1, 2, 4, 5, 7, 9, 55}

In [66]:
s.clear()
s

set()

In [70]:
st1.difference(st)

{1, 2, 4, 5, 7, 9, 55}

In [74]:
st = {78,56,'hai',56,52.369,1}
st

{1, 52.369, 56, 78, 'hai'}

In [75]:
st1.difference(st)

{2, 4, 5, 7, 9, 55}

In [76]:
st.difference(st1)

{52.369, 56, 78, 'hai'}

In [86]:
st.symmetric_difference_update(st1)

In [87]:
st

{1, 2, 4, 5, 52.369, 55, 56, 7, 78, 9, 'hai'}

In [88]:
st

{1, 2, 4, 5, 52.369, 55, 56, 7, 78, 9, 'hai'}

In [89]:
st1

{1, 2, 4, 5, 7, 9, 55}

In [90]:
id(st)

2296203024640

In [91]:
id(st1)

2296165817024

In [92]:
st | st1

{1, 2, 4, 5, 52.369, 55, 56, 7, 78, 9, 'hai'}

In [93]:
st & st1

{1, 2, 4, 5, 7, 9, 55}

In [98]:
st.update([55,46,89])

In [100]:
st

{1, 2, 4, 46, 5, 52.369, 55, 56, 7, 78, 89, 9, 'hai'}

In [101]:
st - st1

{46, 52.369, 56, 78, 89, 'hai'}

In [102]:
st1 - st

set()

# DICTIONARY

In [103]:
dt = {} # empty dictionary
dt

{}

In [104]:
dt = {1:'one',2:'two',3:'three',4:'four'} # dictionary with integer keys
dt

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [106]:
dt1 = {'a':'one','b':'two',"c":"three",'d':"four"} # dictionary with character keys
dt1

{'a': 'one', 'b': 'two', 'c': 'three', 'd': 'four'}

In [107]:
dt2 = {1:'a','ab':'abc',3:'three'} # dicitionary with mixed keys
dt2

{1: 'a', 'ab': 'abc', 3: 'three'}

In [108]:
dt2.keys()

dict_keys([1, 'ab', 3])

In [109]:
dt2.values()

dict_values(['a', 'abc', 'three'])

In [110]:
dt2.items()

dict_items([(1, 'a'), ('ab', 'abc'), (3, 'three')])

In [116]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}, 'B':{'Bat' , 'cat'}}
mydict

{1: 'one', 2: 'two', 'A': {'Name': 'asif', 'Age': 20}, 'B': {'Bat', 'cat'}}

In [117]:
mydict1 = {1:'one' , 2:'two' , 'A':{'asif',20}}

In [118]:
mydict1

{1: 'one', 2: 'two', 'A': {20, 'asif'}}

In [124]:
keys  = {'a','b','c','d'} # create a dictionary from a sequence of keys
mydict2 = dict.fromkeys(keys)
mydict2

{'d': None, 'b': None, 'a': None, 'c': None}

In [125]:
keys  = {'a','b','c','d'}
values = 10
mydict3 = dict.fromkeys(keys,values)
mydict3

{'d': 10, 'b': 10, 'a': 10, 'c': 10}

In [127]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict4 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of keys from a list
mydict4

{'d': [10, 20, 30], 'b': [10, 20, 30], 'a': [10, 20, 30], 'c': [10, 20, 30]}

In [128]:
value.append(40)
mydict4

{'d': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

ACCESSING ITEMS

In [129]:
mydt = {1:'one',2:'two'}
mydt

{1: 'one', 2: 'two'}

In [130]:
mydt[1] # access item using keys

'one'

In [131]:
mydt.get(1) # access item using get() method

'one'

In [135]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [136]:
mydict1.keys()

dict_keys(['Name', 'ID', 'DOB', 'job'])

In [137]:
mydict1.values()

dict_values(['Asif', 74123, 1991, 'Analyst'])

In [138]:
mydict1.items()

dict_items([('Name', 'Asif'), ('ID', 74123), ('DOB', 1991), ('job', 'Analyst')])

In [140]:
mydict1['Name']

'Asif'

In [141]:
mydict1.get('job')

'Analyst'

In [142]:
mydt

{1: 'one', 2: 'two'}

In [144]:
mydt.pop(2)

'two'

In [145]:
mydt

{1: 'one'}

# ADD REMOVE AND CHANGE ITEMS

In [147]:
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [148]:
mydict1['DOB'] = 2002
mydict1['Address'] = 'Delhi'
mydict1

{'Name': 'Asif',
 'ID': 74123,
 'DOB': 2002,
 'job': 'Analyst',
 'Address': 'Delhi'}

In [149]:
dict1 = {'DOB':2001}
mydict1.update(dict1)
mydict1

{'Name': 'Asif',
 'ID': 74123,
 'DOB': 2001,
 'job': 'Analyst',
 'Address': 'Delhi'}

In [150]:
mydict1.pop('job')

'Analyst'

In [151]:
mydict1.popitem()

('Address', 'Delhi')

In [152]:
del[mydict1['ID']]

In [153]:
mydict1

{'Name': 'Asif', 'DOB': 2001}

In [154]:
mydict1.clear()
mydict1

{}

In [155]:
mydict

{1: 'one', 2: 'two', 'A': {'Name': 'asif', 'Age': 20}, 'B': {'Bat', 'cat'}}

In [156]:
mydict1 = mydict

In [157]:
id(mydict1), id(mydict)

(2296200041152, 2296200041152)

In [158]:
mydict2 = mydict.copy()

In [159]:
id(mydict2)

2296200097920

In [160]:
mydict['Address'] = 'hyd'

In [161]:
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': {'Bat', 'cat'},
 'Address': 'hyd'}

In [162]:
for i  in mydict1:
    print(i, ':', mydict[i])

1 : one
2 : two
A : {'Name': 'asif', 'Age': 20}
B : {'Bat', 'cat'}
Address : hyd

In [163]:
'Name' in mydict1

False

In [165]:
'Name' in mydt

False

In [166]:
mydt

{1: 'one'}

In [167]:
mydict1

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': {'Bat', 'cat'},
 'Address': 'hyd'}

In [168]:
mydict2

{1: 'one', 2: 'two', 'A': {'Name': 'asif', 'Age': 20}, 'B': {'Bat', 'cat'}}

In [169]:
'Address' in mydict1

True

In [170]:
all(mydict1)

True

In [171]:
any(mydict1)

True

In [172]:
mydict1[0] = 'test1'
mydict1

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': {'Bat', 'cat'},
 'Address': 'hyd',
 0: 'test1'}

In [173]:
all(mydict1)

False

In [174]:
any(mydict1)

True

In [175]:
db  = {i:i*2 for i in range(10)}  # double of each value using dict

In [176]:
db

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [177]:
db1 = {i:i**2 for i in range(10)} #square of each value using dict
db1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [178]:
key = ['one','two','three','four','five']
value = [1,2,3,4,5] # using dict comprehension
mydict = {k:v for (k,v) in zip(key,value)}
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [179]:
str1  = 'VETSA NAGA VENKATA PRAVEEN'

In [180]:
mydict5 = {k:v for (k,v) in enumerate(str1)}
mydict5

{0: 'V',
 1: 'E',
 2: 'T',
 3: 'S',
 4: 'A',
 5: ' ',
 6: 'N',
 7: 'A',
 8: 'G',
 9: 'A',
 10: ' ',
 11: 'V',
 12: 'E',
 13: 'N',
 14: 'K',
 15: 'A',
 16: 'T',
 17: 'A',
 18: ' ',
 19: 'P',
 20: 'R',
 21: 'A',
 22: 'V',
 23: 'E',
 24: 'E',
 25: 'N'}

In [181]:
mystr = 'one two three four one two three five six seven eight'

In [182]:
mystr

'one two three four one two three five six seven eight'

In [183]:
mylist = mystr.split()
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'three',
 'five',
 'six',
 'seven',
 'eight']

In [184]:
mylist1 = set(mylist) # Unique values in a list
mylist1 = list (mylist1)
mylist1

['two', 'five', 'seven', 'six', 'eight', 'three', 'four', 'one']